body{
 background: #00b8eb;
    font-family: 'Roboto', sans-serif;
}


#containerLogin{
    width: 350px;
    margin-top: 120px;
}

#containerMenu{
    width: 350px;
    margin-top: 40px;
}

#containerSingUp{
     width: 350px;
    margin-top: 120px;
}

#form1{
    margin-top: 30px;
    
}

#botonLogin{
    width: 100%;
    height: 40px;
}



h1{
    background-color: #0098cb;
    color:black;
    text-align: center;
    margin-bottom: 10px;
}



nav li{
    display: inline-block;
    padding: 5px;
    margin: 0px;
}

nav{
    font-size: x-large;
    background-color: #000;
    color:black;
    text-align: center;
    margin-top:  0px;
}

nav ul{
    margin: 0px;
}

#enLineBloque{
    display:inline-block;
    width: 400px;
}

.labelCrearUsuario{
    width: 150px;
}

.labelCrearTienda{
    width: 150px;
}


* {
  padding: 0;
  margin: 0;
}
p {
  margin-bottom: 20px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 10;
}

nav {
  float: center; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #ffff;
  text-decoration: none;
}
nav ul li:hover {
  background: #00b8eb;
}
.contenido {
  padding-top: 80px;
}


{
    margin-top 0;
    padding: 0;
    box-sizing: border-box;

}



h4{
    text-align: center;
    font-size: 25px;
    font-family: arial;
    margin-top: 25px;
    color: #000 ;
    text-shadow: 0px 0px 0px black;
}

.content-all{
    width: 18%;
    margin: auto;
    perspective: 1000px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 50%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
    
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 50px 0px black;
    transition: all 3000ms;
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 3000ms;
}

.content-carrousel figure:nth-child(0){transform:rotateY(0deg) translateZ(300px);}

.content-carrousel figure:nth-child(1){transform:rotateY(45deg) translateZ(300px);}

.content-carrousel figure:nth-child(2){transform:rotateY(90deg) translateZ(300px);}

.content-carrousel figure:nth-child(3){transform:rotateY(135deg) translateZ(300px);}

.content-carrousel figure:nth-child(4){transform:rotateY(180deg) translateZ(300px);}

.content-carrousel figure:nth-child(5){transform:rotateY(225deg) translateZ(300px);}

.content-carrousel figure:nth-child(6){transform:rotateY(270deg) translateZ(300px);}

.content-carrousel figure:nth-child(7){transform:rotateY(315deg) translateZ(300px);}

.content-carrousel figure:nth-child(8){transform:rotateY(360deg) translateZ(300px);}



.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}