/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2020, 09:04:54 PM
    Author     : kevin
*/

body {
    width: 900PX;
    margin: auto;
    font-family: Arial;
}
h1{
    background-color: mediumaquamarine;
    color:black;
    text-align: center;
    margin-bottom: 0px;
}



nav li{
    display: inline-block;
    padding: 5px;
}

nav{
    font-size: x-large;
    background-color: mediumseagreen;
    color:black;
    text-align: center;
    margin: 0px;
}

nav ul{
    margin: 0px;
}

#enLineBloque{
    display:inline-block;
    width: 400px;
}

.labelCrearUsuario{
    width: 150px;
}

.labelCrearTienda{
    width: 150px;
}

input[type="submit"]{
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: #00b8eb;
}

